
		<div class="col-xs-1">
			<div class="side-list">
				<ul>
					<li class="detail-list"><%= link_to "フェスの編集",  edit_admins_festival_path(festival.id) %></li>
					<li class="detail-list"><%= link_to "フェス名の編集", edit_admins_festival_name_path(festival.id) %></li>
					<li class="detail-list"><%= link_to "開催地の編集", edit_admins_place_path(festival.id) %></li>
				</ul>
			</div>
		</div>