<div class="col-sm-1">
	<div class="side-list">
		<ul>
			<li class="detail-list"><%= link_to "フェスの編集",  edit_admins_festival_path(festival.id), :style=>"color:#333;" %></li>
			<li class="detail-list"><%= link_to "フェス名の編集", edit_admins_festival_name_path(festival.id), :style=>"color:#333;" %></li>
			<li class="detail-list"><%= link_to "開催地の編集", edit_admins_place_path(festival.id), :style=>"color:#333;" %></li>
		</ul>
	</div>
</div>