<div class="container h-100">
  <div class="row">
	  <div class="exit-title"><i class="fas fa-exclamation-triangle"></i> 退会にあたっての注意事項</div>
      <br>
      <br>
	      <ol class="exit-list">
  	      <li>※ 退会すると、すべてのサービスをご利用でいただけなくなります</li>
  	      <li>※ 退会すると、すべての情報・履歴が削除されます</li>
          <li>※ 退会後は一定期間、再登録できなくなります</li>
	      </ol>
      <br>
        <div class="exit-btn">
  	      <%= link_to '退会', user_registration_path, method: :delete, data: { confirm: '本当に退会しますか?' }, class: "btn btn-danger btn-lg" %>
        </div>
  </div>
</div>
