<div class="bg-color-gray h-100">
  <div class="container">
    <div class="row">
  	  <div class="exit-title">
        <i class="fas fa-exclamation-triangle"></i> 退会にあたっての注意事項
      </div>
        <br>
        <br>
  	      <ol class="exit-list">
    	      <li>すべてのサービスをご利用で頂けなくなります</li>
    	      <li>すべての情報・履歴が削除されます</li>
            <li>退会後は一定期間、再登録出来なくなります</li>
  	      </ol>
        <br>
          <div class="exit-btn">
    	      <%= link_to '退会', user_registration_path, method: :delete, data: { confirm: '本当に退会しますか?' }, class: "btn btn-danger btn-lg", :style=>"width:150px; height:50px;" %>
          </div>
    </div>
  </div>
</div>
