<%#= render 'admin/sidemenu' %>
		<div class="col-xs-9">
			<h3 class="edit-items">登録済フェスの編集</h3>
			<div class="border"></div>
				<div class="admin-item-delete-test">
					<%= link_to "登録済みフェスを削除する", admin_festival_path(params[:id]), method: :delete, class:"glyphicon glyphicon-pencil", data: {confirm: "本当に削除しますか？"} %>
				</div>

			<div class="edit-contents">
				<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<%= render 'form_edit', festival: @festival %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>