<div class="container h-75">
	<div class="admin-name">フェスティバルの更新</div>
	  <div class="underline"></div>
	  	<div class="admin-festival-delete">
	      <%= link_to "フェスティバルを削除", admins_festival_path(params[:id]), method: :delete, class:"glyphicon glyphicon-pencil", data: {confirm: "本当に削除しますか？"} %>
	    </div>
	    <div class="admin-festival-box">
          <%= render 'form', festival: @festival %>
        </div>
</div>
