
 <div class="col-xs-9">
   <h3 class="registration-items">新規フェスの登録</h3>
	 <div class="border"></div>

	   <div class="registration-contents">
		 <div class="row">
		   <div class="col-xs-10 col-xs-offset-1">
		     <%= render 'form', festival: @festival %>
		   </div>
		 </div>
	   </div>
  </div>

<%= link_to "TOPへ", admins_festivals_path, class: 'btn btn-primary w-25' %>