
<div class="container">
  <div class="label-festival-name">フェス名の新規登録</div>
    <div class="festival-names-border"></div>
      <div class="row">
	    <div class="festival-name-category-box">
		  <%= form_for @festival_name, url: admins_festival_names_path do |f| %>

		  <%= f.text_field :name, :size => "40*40", placeholder: 'フェス名を入力' %>

		  <%= f.submit '登録する', class: "btn btn-primary" %>

		  <% end %>
		</div>
	  </div>
</div>

<%= link_to "TOPへ", admins_festivals_path, class: 'btn btn-primary w-25' %>
