<div class="about-bg-img">
  <div class="about-title">About Us</div>
    <div class="about-subtitle">/ Light Of Dayについて</div>
    <div class="about-text-big">一緒にフェスに行く "フェス友" を作りませんか？</div>
    <div class="about-text">
      <p>この　"Lights Of Day" というサイトは</p>
      <p>あなたの日々の中での光を見つけて毎日をより良いものにして貰いたいと思い作成しました。</p>
      <p>例えば、好きなアーティストが被っている人がいたらよりフェスを楽しめますよね？</p>
      <p>行った事のないライブがある際には、どのような雰囲気なのかを投稿から確認し、</p>
      <p>気になった人にDMやフォローをすることも出来ます。</p>
      <p>ぜひあなたのオススメやフェスでの思い出をシェアしてみましょう！</p>
      <p>あなたの新たな一歩を踏み出すきっかけになります様に。</p>
    </div>


  <div class="about-sign-up">
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-info' %>
  </div>
  <div class="about-sign-in">
    <%= link_to "Sign in", new_user_session_path, class: 'btn btn-warning' %>
  </div>
</div>

