<div class="container">
  <div class="admin-name">開催地の更新</div>
    <div class="underline"></div>
      <div class="row">
		<div class="admin-category-box">
		  <%= form_for @place, url: admins_place_path do |f| %>

			<%= f.text_field :name, autofocus: true, :size => "40*40", placeholder: '変更する開催地名を入力' %>

		    <%= f.submit '更新', class: "btn btn-primary" %>

		  <% end %>
		</div>
	  </div>
</div>
