<div class="container">
  <div class="label-place">開催地の編集・削除</div>
    <div class="place-border"></div>
      <div class="row">
	    <div class="place-category-box">
		  <%= form_for @place, url: admins_place_path do |f| %>

		  <%= f.text_field :name, autofocus: true, :size => "40*40", placeholder: '変更する開催地名を入力' %>

		  <%= f.submit '保存する', class: "btn btn-primary" %>

		  <% end %>
		</div>
	  </div>
</div>
