/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 */
 @import "bootstrap";

body{
	height: 100vh;
}

/*Header*/

.bg-color {
	background-color: #255483;
}

.signup{
	color:#FF8C00;
	margin-left: 450px;
	line-height: 60px;
	font-weight: bold;
}
.signin {
	color:#FF8C00;
	margin-left: 50px;
	line-height: 60px;
	font-weight: bold;
}

.about{
	color:#FF8C00;
	margin-left: 50px;
	line-height: 60px;
	font-weight: bold;
}

.mypage{
	color:#FF8C00;
	padding-left: 30px;
	font-weight: bold;
}
.festivals{
	color:#FF8C00;
	padding-left: 30px;
	font-weight: bold;
}
.recommends{
	color:#FF8C00;
	padding-left: 30px;
	font-weight: bold;
}
.memories{
	color:#FF8C00;
	padding-left: 30px;
	font-weight: bold;
}
.users{
	color:#FF8C00;
	padding-left: 30px;
	font-weight: bold;
}
.admin_festival{
	color:#FF8C00;
	padding-left: 30px;
}
.admin_festival_name{
	color:#FF8C00;
	padding-left: 30px;
}
.admin_place{
	color:#FF8C00;
	padding-left: 30px;
}
.signout{
	color:#FF8C00;
	padding-left: 30px;
	margin:0 0 0 auto;
	font-weight: bold;
}
.current_user{
	color: #FFF;
}

.current-user-img{
	border-radius: 50%;
	width:  55px;
    height: 55px;
}
.admin_user{
	color: #FFF;
	position: relative;
    left: 200px;
}

.admin_user-box{
	margin-left: 400px;
	margin-top: 15px;
}

.admin_signout-box{
	margin-top: 40px;
}
.admin_signout{
	color:#FF8C00;
	line-height: 45px;
}

/*Footer*/

footer{
    width: 100%;
    color: #FF8C00;
    text-align: center;
    font-weight: bold;
}

/*About*/
.about-bg-img {
	background-image: url("IMG_9690.jpeg");
	width: 100%;
    height: 100%;
    background-size: cover;
    background-position:bottom;
}

.about-title {
    color: #FFFFFF;
    font-size: 35px;
    margin-left: 10%;
    font-weight: bold;
}

.about-subtitle {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 750px;
    left: 325px;
}

.about-text{
	color: #FFFFFF;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    margin-top: 40px;
}

.about-text-big{
	color: #FFFFFF;
    font-size: 32px;
    font-family: monospace;
    text-align: center;
}

.about-sign-up{
    position: absolute;
    bottom: 180px;
    left: 740px;
}

.about-sign-in{
	position: absolute;
    bottom: 180px;
    left: 860px;
}

/*Back to top*/
.w-25 {
	 width: 25% !important;
	 margin-left: 38%;
	 margin-top: 20px;
	 margin-bottom: 50px;
}

/*Admin*/

/*Admin Sidemenu*/

ul {
   padding: 0;
}

.detail-list{
  color: #404040;
  border-left: solid 6px #4682B4;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 1em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

.side-menu-title-text{
	text-align: center;
	font-size: 20px;
}

.side-list{
	width: 100px;
}

/*Admin Places*/

.label-place{
	display: inline;
	text-align: center;
	margin-left: 260px;
}

.place-border {
    width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.place-category-box{
	margin-top: 100px;
}

/*Admin FestivalNames*/

.label-festival-name{
	display: inline;
	text-align: center;
	margin-left: 260px;
}

.festival-names-border {
    width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.festival-name-category-box{
	margin-top: 100px;
}