/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


/*Header*/

.signup{
	color:#FF8C00;
	margin-left: 450px;
	line-height: 60px;
}
.signin{
	color:#FF8C00;
	margin-left: 50px;
	line-height: 60px;
}

.about{
	color:#FF8C00;
	margin-left: 50px;
	line-height: 60px;
}

.navbar-center{
	width: 73%;
	padding-top:20px;
	white-space: nowrap;
}

.header{
	height: 90px;
	margin-bottom:20px;
	display:block;
}

.header-menu{
	float: right;
	margin: 10px, 0;
}
.mypage{
	color:#FF8C00;
	padding-left: 30px;
}
.festivals{
	color:#FF8C00;
	padding-left: 30px;
}
.recommends{
	color:#FF8C00;
	padding-left: 30px;
}
.memories{
	color:#FF8C00;
	padding-left: 30px;
}
.users{
	color:#FF8C00;
	padding-left: 30px;
}
.tops {
	color:#FF8C00;
	padding-left: 30px;
}
.admin_festival{
	color:#FF8C00;
	padding-left: 30px;
}
.admin_festival_name{
	color:#FF8C00;
	padding-left: 30px;
}
.admin_place{
	color:#FF8C00;
	padding-left: 30px;
}
.signout{
	color:#FF8C00;
	padding-left: 30px;
	margin:0 0 0 auto;
}
.current_user{
	color: #888888;
	float: right;
	position: relative;
    left: 200px;
}
.admin_user{
	color: #888888;
	float: right;
	position: relative;
    left: 200px;
}

.admin_user-box{
	margin-left: 400px;
	margin-top: 15px;
}

.admin_signout-box{
	margin-top: 40px;
}
.admin_signout{
	color:#FF8C00;
	float:right;
	line-height: 45px;
}

/*Tops*/

.theTarget{
	height: 600px !important;
	width: 100%;
}

.pic1{
	background-image: url("IMG_4605.jpeg");
	background-position: top;
}
.pic2{
	background-image: url("IMG_4721.jpeg");
	background-position: center 65%;
}
.pic3{
	background-image: url(".jpeg");
	background-position: center 50%;
}
.pic4{
	background-image: url(".jpeg");
	background-position: center 45%;
}
.pic5{
	background-image: url(".jpg");
	background-position: center 28%;
}


/*Admin*/

/*Admin Sidemenu*/

ul {
  padding: 0;
}

.detail-list{
  color: #404040;
  border-left: solid 6px #4682B4;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 1em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

.side-menu-title-text{
	text-align: center;
	font-size: 20px;
}

.side-list{
	width: 100px;
	position: relative;
    top: 23px;
    right: 80px;
}

/*Admin Places*/

.label-place{
	display: inline;
	text-align: center;
	margin-left: 260px;
}

.place-border {
    width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.place-category-box{
	margin-top: 100px;
}

/*Admin FestivalNames*/

.label-festival-name{
	display: inline;
	text-align: center;
	margin-left: 260px;
}

.festival-names-border {
    width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.festival-name-category-box{
	margin-top: 100px;
}


/*Footer*/


.footer_text{
    bottom: 0;
    padding-top:70px;
    padding-bottom: 30px;
    width:100%;
}

.footer-text-content{
	color:#FF8C00;
	text-align:right;
}
