// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-title {
    color: #FF8C00;
    margin-left: 300px;
    margin-bottom: 30px;
    font-size: 33px;
    font-weight: 200;
}

.favorite-festival-name {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

.favorite-festival-place {
	font-size: 16px;
    font-weight: 200;
    color: #777777;
    text-align: center;
}

.favorite-festival-body {
	font-size: 16px;
    font-weight: 200;
    color: #777777;
    text-align: center;
    margin-bottom: 50px;
}

.destroy-favorite-box {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 38%;
    margin-bottom: 20px;
}

.favorite-pagenate {
    font-size: 28px;
    margin-left: 42%;
}

.checkbox-size {
    transform: scale(1.5);
    position: relative;
    bottom: 10px;
    left: 245px;
}