// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.favorite-title {
    color:#FF8C00;
    font-size: 25px;
}

.favorite-festival-index {
	height: 400px;
    width: 260px;
    margin: 15px;
    color: #777777;
	float: left;
	position: relative;
    left: 30px;
}

.favorite-festival-name {
    font-size: 25px;
    text-align: center;
}

.favorite-festival-place {
	font-size: 18px;
    text-align: center;
}

.favorite-festival-body {
	font-size: 18px;
    text-align: center;
}

.destroy-favorite-box {
    font-size: 18px;
    position: relative;
    top: 220px;
    left: 720px;
}

.favorite-pagenate {
    font-size: 25px;
    position: relative;
    top: 200px;
    left: 755px;
}

.checkbox-size {
    transform: scale(1.5);
    position: relative;
    bottom: 10px;
    left: 190px;
}