// Place all the styles related to the recommends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.recommend-index-tr{
  vertical-align: initial;
}

.recommend-index-td{
  padding-top: 50px;
  height: 400px;
  border-bottom: solid 1px #dadada;
  width: 300px;
  color:#888888;
}

.recommends-title{
    color:#FF8C00;
    font-size: 25px;
}