// Place all the styles related to the recommends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.recommend-index-tr{
  vertical-align: initial;
}

.recommend-index-td{
  padding-top: 50px;
  height: 400px;
  border-bottom: solid 1px #dadada;
  width: 300px;
  color:#888888;
}

.recommends-title{
    color:#FF8C00;
    font-size: 25px;
}

.recommend-font {
    font-size: 17px;
  	color: #95b3d0;
    position: relative;
    left: 97px;
}

/*RecommendNew*/
#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 500px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  position: absolute;
  right: 53%;
}

#img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.recommend-place-label{
  font-size: 30px;
  color: #777777;
  position: absolute;
  right: 47%;
  top: 19%;
}

.recommend-place-box {
  width: 53%;
  height: 4%;
  position: absolute;
  left: 48%;
  top: 24%;
}

.recommend-title-label {
  font-size: 30px;
  color: #777777;
  position: absolute;
  right: 48%;
  top: 27%;
}

.recommend-title-box {
  width: 53%;
  height: 500px;
  position: absolute;
  left: 48%;
  top: 32%;
}

.recommend-text-label {
  font-size: 30px;
  color: #777777;
  position: absolute;
  right: 48%;
  top: 35%;
}

.recommend-text-box {
  width: 40%;
  height: 500px;
  position: absolute;
  left: 48%;
  top: 40%;
}

.recommend-post {
  width: 400px;
  height: 500px;
  position: absolute;
  left: 20%;
  top: 80%;
}