// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li {
  list-style: none;
}

.right_side{
  float: right;
  clear: both;
}

.say-something {
  font-size: 27px;
  color: #333;
  font-weight: 300;
  margin-left: 120px;
}

.room-title {
  color: #FF8C00;
  font-size: 35px;
  font-weight: 200;
  margin-left: 50px;
}

.message-form{
  width: 870px;
  height: 45px;
  margin-left: 120px;
  margin-bottom: 30px;
}

.message-user-image{
  margin-top: 20px;
  margin-left: 120px;
}

.message-user{
  font-size: 25px;
  color: #333;
  margin-left: 20%;
  margin-top: 15px;
}

.message-box{
  margin-top: 30px;
}

.message-size{
  font-size: 22px;
  font-weight: 300;
}