// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li {
  list-style: none;
}

.right_side{
  float: right;
  clear: both;
}

.say-something {
  font-size: 22px;
  color: #777777;
  position: absolute;
  left: 310px;
  top: 58%;
}

.room-title {
  color: #FF8C00;
  padding: 0.5em 0;
  border-top: solid 3px #777777;
  border-bottom: solid 3px #777777;
  font-size: 30px;
  font-weight: bold;
}

.message-form{
  width: 900px;
  height: 35px;
  margin-left: 190px;
}

.message-user-image{
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 10px;
}

.message-user{
  font-size: 20px;
  color: #777777;
  position: absolute;
  left: 525px;
  top: 40%;
}

.message-box{
  margin-top: 30px;
}

.message-size{
  font-size: 22px;
}