// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.memory-current-user {
	color: #888888;
}

.recommend-current-user {
	color: #888888;
}

.top-memory-title {
	color:#FF8C00;
    font-size: 20px;
}

.top-recommend-title {
	 color:#FF8C00;
    font-size: 20px;
}

.top-memories-td {
	color:#888888;
}

.top-recommend-td {
	color:#888888;
}

.top-content {
	color:#888888;
}