// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Top*/

.theTarget{
	height: 600px !important;
	width: 100%;
}

.pic1{
	background-image: url("IMG_4721.jpeg");
	background-position: bottom !important;
}
.pic2{
	background-image: url("rsr.jpeg");
	background-position: center !important;
}
.pic3{
	background-image: url("IMG_8419.jpeg");
	background-position: center !important;
}
.pic4{
	background-image: url("IMG_5907.jpeg");
	background-position: center !important;
}
.pic5{
	background-image: url("IMG_5945.jpg");
}

.top-caption {
	color: #FF8C00;
    padding: 0.5em 0;
    border-top: solid 3px #777777;
    border-bottom: solid 3px #777777;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}

.top-date {
	color: #888888;
 }

 .top-current-user {
	color: #888888;
	text-align: center;
	font-size: 20px;
}

 .top-spot {
	color: #888888;
	text-align: center;
 }

 .top-title {
 	text-align: center;
 	font-size: 30px;
 	font-weight: bold;
    border-bottom: dashed 2px #FF8C00;
 }

 .top-body{
 	text-align: center;
 	color: #777777;
 	margin-top: 10px;
 }
