// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*sign-up*/

.signup-image-position{
	margin-left: 200px;
}

.signup-space-top{
	margin-top: 50px;
}

.signup-button-space{
	margin-left: 120px;
}

.signup-button-bottom-space{
	margin-top: 20px;
	margin-left: 25px;
}

.link-to-signup {
	margin-right: 32px;
}

.signup-form {
	color: #777777;
}

/*sign-in*/

.signin-space-top{
	margin: 0 auto;
}


.signin-button-space{
	margin: 15px;
}

.signin-button-bottom-space{
    height: 100px;
	margin: 15px;
}

.link-to-signin {
	margin-left: 59px;
}

.signin-form {
	color: #777777;
}

/*mypage*/

.jumbotron {
	margin: 20px 0;
	width: 100%;
	height: 43vh;
}

.icon {
	color: #95b3d0;
}

.menu {
    color: #95b3d0;
	font-size: auto;
}

.content {
	color: #95b3d0;
}

/*index*/
.user-index-box {
	color: #777777;
}

.users-title-index{
	font-size: 30px;
	color: #FF8C00;
}

.user-index-nickname {
	font-size: 19px;
}

.user-index-favorite-artist {
	font-size: 15px;
}

.user-index-prefecture {
	font-size: 15px;
}

/*Show*/

.user-confirm-title1 {
	color: #FF8C00;
    position: relative;
    left: 320px;
    bottom: 20px;
}

.user-confirm-title2{
	color: #FF8C00;
	font-size: 18px;
    position: relative;
    left: 580px;
    bottom: 55px;
}

.confirm-form {
	color: #777777;
}

.link-to-edit {
	position: relative;
    left: 85px;
    bottom: 20px;
}

/*Edit*/

.user-edit-title1 {
	color: #FF8C00;
    position: relative;
    left: 300px;
    bottom: 20px;
}

.user-edit-title2{
	color: #FF8C00;
	font-size: 18px;
    position: relative;
    left: 402px;
    bottom: 55px;
}

.edit-image-position {
	color: #777777;
    position: relative;
    left: 80px;
}

.edit-form-position {
	color: #777777;
	position: relative;
    right: 35px;
    bottom: 40px;
}

.edit-push {
	position: relative;
    right: 215px;
    top: 240px;
}

  /*Exit*/
.exit-list {
	font-size: 22px;
}