// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*sign-up*/

.signup-image-position{
	margin-left: 250px;
}

.signup-space-top{
	margin-top: 50px;
}

.signup-button-space{
	margin-left: 120px;
}

.signup-button-bottom-space{
	margin-top: 20px;
	margin-left: 25px;
}

.link-to-signup {
	margin-right: 32px;
}

/*sign-in*/

.signin-space-top{
	margin: 0 auto;
}


.signin-button-space{
	margin: 15px;
}

.signin-button-bottom-space{
    height: 100px;
	margin: 15px;
}

.link-to-signin {
	margin-left: 59px;
}

/*mypage*/

.jumbotron {
	margin: 20px 0;
	width: 100%;
	height: 43vh;
}

.menu {
	font-size: auto;
}
